//widescreens
@include media_XLscreens{
    .projects{
        grid-template-columns: repeat(4, 1fr);
    }
}
//large screens
@include media_largescreens{
    .projects{
        grid-template-columns: repeat(3, 1fr);
    }
}
//tablets & medium laptos
@include media_mediumscreens{
    main{
        align-items:center;
        text-align: center;
        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
        }
    }
    ul.menu-nav,
    div.menu-branding{
        float: none;
        width: 100%;
        min-height:0;
        &.show{
            transform: translateX(0, 0, 0);
        }
    }
    .menu-nav{
        height:70vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }
    .menu-branding{
        height: 35vh;
        transform: translate3d(100%,0, 0);
        .portrait{
            background: url('../img/muni1.jpg');
            width: 200px;
            height: 200px;
        }
    }
    .about-info{
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
        grid-template-columns: 1fr;
    }
    .projects{
        grid-template-columns: repeat(2, 1fr);
    }
}
//smart phones
@include media_smallscreens{
    main#Home h1{
        margin-top: 10vh;
    }
    .projects{
        grid-template-columns: 1fr;
    }
}